<table mat-table [dataSource]="dataSource" matSort
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Nombre">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Correo">
      Correo
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Usuario">
      Usuario
    </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Ciudad">
      Ciudad
    </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Telefono">
      Telefono
    </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Empresa">
      Nombre Empresa
    </th>
    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
